.title {
  text-align: center;
}

.game-link {
  color: black;
}

.details {
  font-size: 0.9em;
}

.show-modal {
  position: fixed;
  top: 100px;
  left: 540px;
  max-height: 85%;
  max-width: 85%;
}

.hide-modal {
  display: none;
}